div.section.schedule {
    padding-left: 2%;
    background: url('../img/schedule_bg.jpg') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: grey;
     background-blend-mode: multiply;
    height: 600px;
    h1 {
        color: black;
        text-shadow: none;
        padding-top: 20px;
        color: white;
        .orange {
            color: $color_orange_light;
        }
    }
    .day_buttons {
        padding-top: 20px;
        width: 90%;
        margin: 0 auto;
        display: flex;
        .day {
            display: inline-block;
            width: 13.5%;
            height: 40px;
            text-align: center;
            background: $color_grey_background;
            color: black;
            border-radius: 10px;
            line-height: 40px;
            text-shadow: none;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            margin-left: 10px;
            &:hover {
                background: $color_orange_light;
                color: white;
            }
            &.active {
                background: $color_orange_light;
                color: white;
            }
        }
    }
    .full_program {
        width: 90%;
        height: 400px;
        margin: 0 auto;
        margin-top: 30px;
        background: $color_orange_light;
        border-radius: 10px;
        .program {
            display: none;
            &.active {
                display: block;
                padding-top: 10px;
                .line {
                    width: 90%;
                    margin: 0 auto;
                    margin-top: 10px;
                    height: 40px;
                    border-radius: 10px;
                    display: flex;
                    text-shadow: none;
                    font-weight: bold;
                    background: $color_orange_dark;
                    &:nth-of-type(2n) {
                        background: $color_orange;
                    }
                }
            }
        }
    }
}
