/**
 * Asta e color schemul asa ca haide sa vedem ce este defacut
 */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.menu {
  background: white; }
  .menu .logo {
    display: inline-block; }
  .menu ul.navigation {
    display: inline-block;
    list-style-type: none;
    margin-left: 150px; }
    @media screen and (max-width: 1170px) {
      .menu ul.navigation {
        margin-left: 50px; } }
    .menu ul.navigation li {
      overflow: hidden;
      display: inline-block;
      border-bottom: 1px dotted black;
      margin-left: 50px;
      position: relative; }
      @media screen and (max-width: 1170px) {
        .menu ul.navigation li {
          margin-left: 25px; } }
      .menu ul.navigation li a {
        display: block;
        padding: 2px 4px;
        text-decoration: none;
        color: #111111;
        font-style: italic;
        text-transform: uppercase;
        font-size: 12px;
        cursor: pointer; }
        .menu ul.navigation li a.link {
          transform: translateX(0px);
          transition: transform 0.2s ease-in-out; }
      .menu ul.navigation li .mock {
        position: absolute;
        font-style: italic;
        text-transform: uppercase;
        font-size: 12px;
        background: #ED541D;
        color: white;
        transform: translateX(100%);
        transition: transform 0.2s ease-in-out; }
      .menu ul.navigation li:hover {
        border-bottom: 1px dotted #ED541D; }
        .menu ul.navigation li:hover .mock {
          transform: translateX(0); }
        .menu ul.navigation li:hover .link {
          transform: translateX(-100%); }
    .menu ul.navigation .hamburger_menu {
      position: fixed;
      right: 15px;
      width: 30px;
      height: 21px;
      cursor: pointer; }
      @media screen and (min-width: 900px) {
        .menu ul.navigation .hamburger_menu {
          display: none; } }
      .menu ul.navigation .hamburger_menu span {
        position: absolute;
        margin-bottom: 1px;
        display: block;
        width: 100%;
        height: 5px;
        background: #ED541D; }
        .menu ul.navigation .hamburger_menu span:nth-of-type(2) {
          top: 8px; }
        .menu ul.navigation .hamburger_menu span:nth-of-type(3) {
          top: 16px; }
    @media screen and (max-width: 900px) {
      .menu ul.navigation li {
        display: none; }
      .menu ul.navigation li.hamburger_menu {
        display: block; } }

.container {
  color: white;
  text-shadow: 1px 1px 1px black; }

.container {
  margin-top: 70px;
  background: grey; }
  .container h1 {
    margin: 0;
    padding: 0; }
  .container .section {
    height: 600px; }
    .container .section:nth-of-type(2n) {
      background: black; }

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  border-bottom: 2px solid #ED541D; }
  .menu .logo {
    position: relative;
    left: 50px;
    font-size: 12px; }
    .menu .logo .orange {
      color: #ED541D; }
    .menu .logo .bold_grey {
      color: red; }
    .menu .logo .title {
      font-size: 16px; }
    .menu .logo .subtitle {
      text-align: center;
      margin-top: -18px; }

.landing_section {
  background: url("../img/StockSnap_373LUTBH99.jpg") center center no-repeat;
  background-size: cover; }
  .landing_section h1 {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    padding-top: 170px; }
    .landing_section h1 .orange {
      color: #FB5B21; }
  .landing_section p {
    display: block;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: #EDEDED;
    font-size: 16px;
    margin-top: 20px; }
    @media screen and (max-height: 900px) {
      .landing_section p {
        width: 80%;
        line-height: 24px; } }
  .landing_section .join_us {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 250px;
    height: 50px;
    border: 1px solid #DD4813;
    color: white;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    background-color: transparent;
    transition: all 0.3s ease-in-out; }
    .landing_section .join_us:hover {
      background-color: #DD4813; }

/*# sourceMappingURL=style.css.map */
